*{
    margin: 0;

}
.main{
    background-color: aliceblue;
    padding: 20px;
}
.header{
    height: 100px;
    background-color: red;
   
}
.footer{
    height: 100px;
    background-color: yellow;
   
}
.mid{
    height: 300px;
    background-color: green;
    display: flex;
    
}
.left{
    background-color: aqua;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right{
    background-color: tomato;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.center{
    background-color: blue;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}