*{
    margin: 0;
}
.main{
    display: grid;
    gap: 5px;
    padding: 20px;
    background-color: white;
}
.header{
    height: 50px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer{
    height: 50px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mid1{
    height: 50px;
    background-color: rgb(47, 255, 102);
    display: flex;
    justify-content: center;
    align-items: center;
}
.mid2{
    height: 200px;
    background-color: white;
    display: flex;
    flex-direction: row;
    gap: 5px;

}
.left{
    width: 30%;
    height: 100%;
    background-color: rgb(6, 128, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.right{
    width: 70%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}
.sub1{
    height: 50%;
    width:100%;
    background-color:rgb(0, 94, 128);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.sub2{
    height: 50%;
    width: 100%;
    background-color: rgb(62, 22, 105);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}